@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM-Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* Definisce il range di pesi supportati */
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM-Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* Il range di pesi supportati */
  font-style: italic;
}

body {
  font-family: 'DM Sans', sans-serif;
}

option {
  color: black;
}

.loaderIcon {
  animation: spin 1s infinite linear;
}

.banner-hashrate {
  background-image: url(../img/networking_banner.png) !important;
  background-size: cover  !important;
  background-position: center top !important;
}

.banner-node {
  background-image: url(../img/node_banner.png) !important;
  background-size: cover  !important;
  background-position: center top !important;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

#tsparticles {
  height: 100%;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
